.plans{
    position: relative;
    padding-bottom: 80px;
    .plans-shadow{
        z-index: -1;
        position: absolute;
        width: 100%;
        display: flex;
        justify-content: center;
        top: -127px;
    }
    .plans-container{ 
        background-image: linear-gradient(to right, var(--color-2), var(--color-3));
        border-radius: 40px;
        padding: 25px 50px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        .plans-devider{
            width: 2px;
            height: 100%;
            background-color: var(--color-1);
        }
        .plans-content{
            text-align: center;
            padding-right: 34px;
            padding-left: 34px;
            img{
                margin-bottom: 15px;
            }
            h4{
                margin-bottom: 12px;
                color: var(--color-1);
            }
        }
    }
}